<%= render 'shared/flash_messages' %>

<h3>Friends</h3><br>
 <!-- placeholder -->

<h3>Friend Requests</h3>
<%= render partial: 'received_requests', locals: { requests_received: @requests_received } %>
<%= render partial: 'sent_requests', locals: { requests_sent: @requests_sent } %>
<%#= render 'sent_requests'%>
