 <div class="column is-half"> 
  <div class="card is-half">
    <div class="card-content">
      <%= @post.content %><br><br>
    </div>
    <div class="card-footer">
      <%= @post.user.name %> - 
      <%= @post.created_at.strftime('%k:%M %b %-d, %Y') %>
    </div>  
  </div>
</div> 